:root {
  --font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--font-family);
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* logo */
.logo-primary {
  color: #2196f3;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 92px;
}

.footer-logo {
  /* margin-bottom: 20px; */

  color: #ffffff;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/* header section */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  /* align-items: center; */
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item + .nav-list-item {
  margin-left: 50px;
}

.nav-list-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-list-item + .header-contact-list-item {
  margin-left: 50px;
}

.header-contact-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* hero section */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}

.main-title {
  margin-bottom: 30px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: transparent;
  display: flex;
  align-items: center;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* about section */
.about {
  margin-bottom: 94px;
}

.about-list {
  display: flex;
}

.about-list-item + .about-list-item {
  margin-left: 30px;
}

/* .item {
  width: 270px;
  height: 100px;
} */

.about-title {
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* our work section */
.work-section {
  margin-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-list {
  display: flex;
}

.work-list-img + .work-list-img {
  margin-left: 30px;
}

/* team section */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list-item + .team-list-item {
  margin-left: 30px;
}

.card {
  background: #ffffff;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list-position {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-item + .footer-contacts-item {
  margin-top: 10px;
}

address {
  margin-top: 20px;
}

.footer-contacts-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.footer-contacts-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-address:hover,
.footer-contacts-address:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
